extends layout

block content
  video(playsinline, autoplay, muted, loop, poster='/images/3082525.jpg', id='bgvid')
    source(src='/videos/3082525.webmhd.webm', type='video/webm')
    source(src='/videos/3082525.mp4', type='video/mp4')
  img(id='logo', src='/images/TSR_LOGO-01.png')
  div(class='flexbox')
    div(id='content')
      div(id='headline-row', class='row')
        h1(id='headline', class='text-white')= 'Something new is steeping...'
      div(id='description-row', class='row')
        h5(id='description', class='text-white')= 'The modern way to explore teas from around the world'
      div(class='row')
        div(class='container')
          form(id='signup-form', name='signupForm')
            div(class='row')
              div(id='firstNameGroup', class='form-group col-md-6')
                input(type='text', id='firstName', name='firstName', class='form-control', placeholder='First')
              div(id='lastNameGroup', class='form-group col-md-6')
                input(type='text', id='lastName', name='lastName' class='form-control', placeholder='Last')
            div(id='emailGroup', class='form-group')
              input(type='email', id='email', name='email', class='form-control', placeholder='Email')
            div(id="submit-container" class='form-group')
              button(type='button', class='btn btn-warning', onclick=`signup("${host}");`)= 'Let me know when it\'s ready!'
          div(id='privacy-policy-text')
            span
              a(href='', target='_blank', rel='nofollow', class='text-white')= 'We promise to never spam you.'
            | Host #{host}
          div(id='success-alert', class='alert alert-success', role='alert', hidden)
            strong 
              | You Got It!
            |  We'll let you know as soon as it's ready!